body { 
	background: white url("images/background.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    text-align: center;

}

#title {
	font-size: 40px;
	font-family: "Courier New", Courier, monospace;
}

